- name: creation utilisateur courant
  user:
    name: loritz
    comment: Loritz
    password: '$6$esSEUm5fWh2V9Yq2$ZG9a5fY9V1PgnCfurTVcOOFGPsoDeBMaOjwBlLlRe5bFr0Nc9Adsb3jc7Ac8yzvWzhVu8Z0iweoI8z5Cslg3F0'
    groups: loritz,nopasswdlogin
    state: present
    shell: /bin/bash

- name: copie fichier connection auto
  copy:
    src: files/lightdm.conf
    dest: /etc/lightdm/lightdm.conf
    owner: root
    group: root
    mode: 0644



- name: copy wallpaper file
  copy:
    src: files/Fond-loritz-Spiral-Betty_v2.jpg
    dest: /usr/share/backgrounds/fond-loritz.jpg
    owner: root
    group: root
 
- name: set wallpaper
  become_user: loritz
  dconf:
      key: "/org/cinnamon/desktop/background/picture-uri"
      value: "'file:///usr/share/backgrounds/fond-loritz.jpg'"
 
- name: set wallpaper position
  become_user: loritz
  dconf:
    key: "/org/cinnamon/desktop/background/picture-options"
    value: "'zoom'"

- name: Desactiver welcome
  become_user: loritz
  dconf:
    key: "/com/linuxmint/updates/refresh-schedule-enabled"
    value: "false"



- name: Copie Bureau
  copy:
    src: files/Bureau
    dest: /home/loritz/
    owner: loritz
    group: loritz
    mode: 0755

- name: Copie message pret
  copy:
    src: files/avertissement.desktop
    dest: /home/loritz/.config/autostart/
    owner: loritz
    group: loritz
    mode: 0755

- name: Copie config MIME
  copy:
    src: files/mimeapps.list
    dest: /home/loritz/.config/
    owner: loritz
    group: loritz
    mode: 0755


- name: Copie logos
  copy:
    src: files/pixmaps/*
    dest: /usr/share/pixmaps/
    owner: root
    group: root
    mode: 0755

- name: Copie config LibreOffice
  copy:
    src: files/registrymodifications.xcu
    dest: /home/axel/.config/libreoffice/4/user/
    owner: loritz
    group: loritz
    mode: 0755