- name: Install packages
  apt:
    name:
      - chromium
      - vlc
      - nfs-common
      - iptables-persistent
  
- name: Remove packages
  apt:
    name:
     - mintwelcome
     - mintupdate
    state: absent

- name: Configure apt-cache
  ansible.builtin.copy:
    dest: /etc/apt/apt.conf.d/02proxy
    content: |
      Acquire::http::Proxy "http://apt-cache.fab:3142";
    owner: root
    group: root
    mode: '0644'

- name: Add Flathub repository
  community.general.flatpak_remote:
    name: flathub
    state: present
    method: system
    flatpakrepo_url: https://flathub.org/repo/flathub.flatpakrepo

- name: Install ONLYOFFICE Desktop Editors via Flatpak
  community.general.flatpak:
    name:
      - org.onlyoffice.desktopeditors
      - org.localsend.localsend_app
    remote: flathub
    state: present