#- name: Copy source list
#  ansible.builtin.copy:
#    src: files/official-package-repositories.list
#    dest: /etc/apt/sources.list.d/
#    owner: root
#    group: root
#    mode: '0644'

- name: update repositories
  apt:
    update_cache: yes
  changed_when: False

- name: Install packages
  apt:
    name:
      - chromium
      - vlc
      - nfs-common
      - iptables-persistent
      - thonny
  
- name: Remove packages
  apt:
    name:
     - mintwelcome
     - mintupdate
    state: absent

- name: Add Flathub repository
  community.general.flatpak_remote:
    name: flathub
    state: present
    method: system
    flatpakrepo_url: https://flathub.org/repo/flathub.flatpakrepo

- name: Install Flatpak apps
  community.general.flatpak:
    name:
      - org.onlyoffice.desktopeditors
      - org.localsend.localsend_app
      - com.vscodium.codium
    remote: flathub
    state: present