[Desktop Entry]
Name=Partage
Exec=chromium --no-default-browser-check https://partage.ac-nancy-metz.fr/
Comment=Partage AC Nancy Metz
Terminal=false
Icon=ac-partage
Type=Application