[Desktop Entry]
Version=1.0
Name=Chromium Web Browser
Name[fr]=Navigateur Web Chromium
GenericName=Web Browser
GenericName[fr]=Navigateur Web
Comment=Access the Internet
Comment[fr]=Accéder à Internet
Exec=chromium %U
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=chromium
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;x-scheme-handler/chrome;video/webm;application/pdf;
StartupNotify=true
StartupWMClass=chromium
Actions=new-window;Incognito;TempProfile;
X-AppInstall-Package=chromium-browser

[Desktop Action new-window]
Name=New Window
Name[fr]=Nouvelle fenêtre
Exec=chromium

[Desktop Action Incognito]
Name=New Incognito Window
Name[fr]=Nouvelle fenêtre en mode navigation privée
Exec=chromium --incognito

[Desktop Action TempProfile]
Name=New Window with a Temporary Profile
Name[fr]=Nouvelle fenêtre avec un profil temporaire
Exec=chromium --temp-profile