[Desktop Entry]
Name=Microsoft 365
Exec=firefox https://www.microsoft365.com/
Comment=Microsoft Office en ligne
Terminal=false
Icon=microsoft_365
Type=Application