[Desktop Entry]
Name=Partage
Exec=chromium https://partage.ac-nancy-metz.fr/
Comment=Partage AC Nancy Metz
Terminal=false
Icon=ac-partage
Type=Application