[Desktop Entry]
Name=Partage
Exec=chromium https://teams.microsoft.com/v2/
Comment=Partage AC Nancy Metz
Terminal=false
Icon=ac-partage
Type=Application